@model MvcPersonalProject.Entity.ValueObjects.ForgetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifremi Unuttum</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/Image/logo.png" id="logo" alt="" width="150" height="150" />
            </div>
            @{
                if (ViewBag.ForgetPassSuccess != null)
                {
                    <h4 style="color:green" class="fa fa-check-circle"> @ViewBag.Success</h4>
                }
                else if (ViewBag.EmailNotIsValid != null)
                {
                    <h4 style="color:red" class="fa fa-remove"> @ViewBag.Fail</h4>
                }
            }
            @using (Html.BeginForm("ForgetPassword", "AdminProcess", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <!-- Login Form -->
                <input type="email" id="Email" class="fadeIn second form-control" name="Email" placeholder="email...">
                <input type="submit" class="fadeIn fourth" value="Şifre Gönder">
                <a href="/AdminProcess/Login" class="btn btn-warning"> <i class="fa fa-chevron-left"></i> Anasayfaya Dön!</a>
            }

        </div>
    </div>
</body>
</html>
