
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">Hizmet Kategori Alanları</p>
                    <h3 class="card-title">
                        4
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Detay...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Yapılan Projeler</p>
                    <h3 class="card-title">7</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Detay...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
